<%= turbo_frame_tag participation do %>
  <article class="participation block floating">
    <h3 class="name value">
      <%= participation.combatant_name %>
    </h3>
    <dl class="grid_ignore">
      <dt class="hits label">
        <%= t ".hit_points" %>
      </dt>
      <dd class="hits value">
        <%= participation.combatant.current_hit_points %><sub>/<%= participation.combatant.base_hit_points %></sub>
      </dd>
      <dt class="activity label">
        <%= t ".activity" %>
      </dt>
      <dd class="activity value">
        <%= number_to_percentage(participation.activity_left, precision: 0, format: "%n<sub>%</sub>".html_safe) %>
      </dd>
      <dt class="effect label haemorrhages">
        Haemorrhages
      </dt>
      <dd class="effect value haemorrhages" data-effect="bleeding" data-effect-duration="3">
        2/rd <span class="sr_only">for 3 rounds</span>
      </dd>
      <dd class="effect value haemorrhages" data-effect="bleeding" data-effect-duration="2" >
        1/rd <span class="sr_only">for 2 rounds</span>
      </dd>
      <dt class="effect label penalties">
        Penalties
      </dt>
      <dd class="effect value at_penalty" data-effect="at_penalty" data-effect-duration="2" >
        -30 <span class="sr_only">for 4 rounds</span>
      </dd>
      <dt class="effect label restrictions">
        Restrictions
      </dt>
      <dd class="effect value restrictions" data-effect="stunned_no_parry" data-effect-duration="2" >
        Stunned – no parry <span class="sr_only">for 2 rounds</span>
      </dd>
      <dd class="effect value restrictions" data-effect="must_parry" data-effect-duration="1" >
        Must parry <span class="sr_only">for 1 round</span>
      </dd>
    </dl>
    
    <div class="controls combatant_controls">
      <%= tag.div class: class_names("controls_container combatant_controls_container", resolution_layout: participation.at_resolution_phase?) do %>
        <% if participation.at_resolution_phase? && participation.resolution.present? %>
          <%= render participation.resolution %>
        <% elsif participation.at_action_phase? %>
          <%= render participation.prepared_and_suggested_actions %>
        <% end %>
      <% end %>
    </div>
  </article>
<% end %>
