<article class="round">
  <header>
    <p class="combat-id"><%= t ".combat_id", id: @round.combat_id %></p>
    <h1 class="round-number"><%= t ".round_number", number: @round.number %></h1>
  </header>
  <main>
    <section id="phase-controls">
      <% if @round.at_phase_fire_results_a? and @round.actions.missile_attacks.unresolved.any? %>
        <%= form_with model: [@round, MissileAttackResolution.new(missile_attack: @round.actions.missile_attacks.unresolved.first)] do |f| %>
          <%= f.label :roll, t(".attack_roll", combatant: f.object.missile_attack.combatant_name) %>
          <%= f.text_field :roll %>
          <%= f.submit %>
        <% end %>
      <% end %>
      <%= render @round.actions.missile_attacks.resolved.first if @round.actions.missile_attacks.resolved.any? %>
      <%= button_to t(".next_phase"), continue_round_path(@round), form_class: "next-phase" %>
    </section>
    
    <section id="combatants">
      <h1><%= t ".combatants" %></h1>
      <%= turbo_stream_from [@round, :participations] %>
      <%= render @round.participations %>
    </section>
    
    <section id="phases-tracker">
      <ol start="0">
        <% Round::PHASES.each do |phase| %>
          <%= tag.li t(phase, scope: "phases"), class: class_names("current-phase": @round.phase.eql?(phase)) %>
        <% end %>
      </ol>
    </section>
  </main>
</article>
