<article class="round">
  <header>
    <p class="combat_id"><%= t ".combat_id", id: vanity_combat_id(@round) %></p>
    <h1 class="round_number"><%= t ".round_number", number: @round.number %></h1>
    <p class="round_phase"><%= t ".current_phase", phase: t(@round.phase, scope: "phases") %></p>
  </header>
  <main>
    <section id="combatants">
      <h2 class="sr_only">
        <%= t ".combatants" %>
      </h2>
      
      <%= turbo_frame_tag "all_participations" do %>
        <%= render @round.participations %>
      <% end %>
      
      <% if @round.at_phase_setup? %>
        <div id="setup_controls" class="combatant_card block">
          <%= turbo_frame_tag "new_participation" do %>
            <%= render "new_participation", round: @round %>
          <% end %>
        </div>
      <% end %>
    </section>
    
    <section id="controls">
      <%= next_step_button(@round) %>
    </section>
  </main>
</article>
