<section class="db">
  <h1><%= db.model_name.human %></h1>
  <%= form.fields_for db do |f| %>
    <%= f.bonus_field :normal_bonus, kind: form.object.quickness.abbr, readonly: true %>
    <%= f.bonus_field :object_bonus, kind: :object, readonly: true %>
    <%= f.bonus_field :special_bonus, kind: :special, readonly: true %>
    <%= f.bonus_field :total_bonus, kind: :total, readonly: true %>
  <% end %>
</section>
