<%= tag.section class: class_names("skill", "developed": maneuvering_in_armor_skill.ranks.to_i.positive?) do %>
  <h1><%= name %></h1>
  <%= form.fields_for maneuvering_in_armor_skill do |f| %>
    <%= f.text_field :development_cost, label_class: "dev-cost", readonly: true %>
    <fieldset class="skill-ranks">
      <%= skill_rank_checkboxes(maneuvering_in_armor_skill.ranks, special: true) %>
    </fieldset>
    <%= f.bonus_field :rank_bonus, readonly: true %>
    <%= na_bonus_tag %>
    <%= na_bonus_tag %>
    <%= f.bonus_field :object_bonus, kind: :object, readonly: true %>
    <%= f.bonus_field :special_bonus_1, kind: :special, readonly: true %>
    <%= f.bonus_field :special_bonus_2, kind: :special, readonly: true %>
    <%= f.bonus_field :special_bonus_3, kind: :special, readonly: true %>
    <%= f.bonus_field :total_bonus, kind: :total, readonly: true %>
  <% end %>
<% end %>
