<section class="rr">
  <h1><%= name %></h1>
  <%= form.fields_for rr do |f| %>
    <%= f.bonus_field :normal_bonus, kind: f.object.stat.abbr, readonly: true %>
    <%= f.bonus_field :race_bonus, kind: :race, readonly: true %>
    <%= f.bonus_field :special_bonus, kind: :special, readonly: true %>
    <%= f.bonus_field :total_bonus, kind: :total, readonly: true %>
  <% end %>
</section>
